.post-date{
    background: #f4f4f4;
    padding: 4px;
    margin: 3px 0;
    display: block;
}

body{
    padding-top:120px;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #eeeeee;
}

.required::after {
    content: "*";
    color: #ff0000;
}
label{
    padding: 5px;
}

fieldset{
    margin: 20px 0;
}

.MuiTypography-h3 {
    font-size: 2rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    line-height: 1.167;
}

.container{
    margin-bottom: 50px;
}

.validError{
    color: #ff0000;
    font-size: 1rem;
}

.logout{
    position: absolute;
    right: 20px;
}

.logo{
    position: absolute;
    top: 0px;
    left: 20px;
    width:70px;
}

.navbar{
    background: rgb(245, 203, 38)!important;
}

#navbarColor01{
    background: rgb(245, 203, 38)!important;
    width: 50px;

}

.nav-item{
    text-align: right;
    padding-right: 15px;
    padding-top: 5px;
    font-weight: 400px;
}

.nav-item a.nav-link:hover{
    color: #000000!important;
}

.reenter{
    background-color: #fff777;
}