.outer_layer{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: left;
}

div.busIconDiv{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.busIcon{
    width: 200px;
    border: 3px solid #AAA;
    height: 200px;
    min-width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.industryDesc{
    font-size: 0.6rem;
    padding-left: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card_h3{
    --vh: 9.27px;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    line-height: 1.167;
    font-size: 2.5707rem;
    text-align: center;
    margin-bottom: 0.35em;
}

.detailIcon{
    --vh: 9.27px;
    font-family: -apple-system,BlinkMacSystemFont,Noto Sans TC,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: right;
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.infoIcon{
    color: #f8e143;
    float:right;
}

.detailRow{
    margin-bottom: 15px
}

.orIcon{
    --vh: 8.78px;
    font-family: -apple-system,BlinkMacSystemFont,Noto Sans TC,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #221914;
    text-align: center;
    cursor: pointer;
    /* padding-left: 1.2rem;
    padding-right: 1.2rem; */
    height: 1.2rem;
    /* margin: 0.2rem; */
    /* width: 1.2rem; */
    margin: auto;
    margin-bottom: 0.15rem;
}

.shareIcon{
    --vh: 8.78px;
    font-family: -apple-system,BlinkMacSystemFont,Noto Sans TC,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #221914;
    text-align: center;
    fill: currentColor;
    /* width: 1em; */
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    cursor: pointer;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin: auto;
}

.promote_layer{
    padding: 15px 15px;
    display: inline-block;
}

.promote_title{
    color: white;
    position: relative;
    font-size: 3vh;
    background: linear-gradient(to left, #fdd10e, #fbea56);
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}

.promote_title::after {
    top: 110%;
    left: 0%;
    width: 50%;
    height: 10%;
    content: ' ';
    position: absolute;
    background: linear-gradient(to left, #f8e143, #fbea56);
    pointer-events: none;
}

.jss818{
    float: right;
    width: 50%;
}

.promote_container{
    display: grid;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 340px);
}

.promote_card{
    color: #221914;
    box-shadow: 3px black;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 1vh;
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
}

.promote_image{
    height: 170px;
    width: 100%;
    display: inline-block;
    /* display: block; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.right_arrow{
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.edit_promotion_btn_container{
    height: 20px;
    display: flex;
    background: linear-gradient(to left, #fdd10e, #fbea56);
    align-content: center;
    padding-right: 0;
    justify-content: flex-end;
    padding: 8px;
    align-items: center;
    box-sizing: content-box;
}

.edit_promotion_btn{
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 0px 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.promotion_btn_label{
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.promotion_button_shopname{
    color: white;
    width: 100%;
    overflow: hidden;
    text-align: right;
    font-weight: 900;
    white-space: nowrap;
    margin-right: 0.4rem;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.promote_listing_content{
    min-height: 128px;
    padding: 5px 15px;
    box-sizing: content-box;
}

.promotion_shopname{
    color: #666666;
    margin: 0;
    padding: 0;
    /* font-size: xx-small; */
}

.promotion_title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0.35em;
    font-size: 1.4993rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    line-height: 1.334;
    width: 100%;
}

.promotion_desc{
    display: block;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    line-height: 1.43;
    margin: 0;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: 22px;
    -ms-overflow-style: none;
}

.promotion_desc::-webkit-scrollbar {
    display: none;
}

.promotion_expiry{
    line-height: 1rem;
    margin-top: 1px;
    margin-bottom: 3px;
    color: rgba(0, 0, 0, 0.54);
    text-align: right;
    font-size: 0.75rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    text-transform: uppercase;
}

.promotion_tag > span{
    color: #666666;
    outline: none;
    padding: 1px 3px 1px 3px;
    font-size: 0.8rem;
    margin-top: 2px;
    margin-right: 3px;
    border-radius: 3px;
    background-color: #fbea56;
}

@media only screen and (max-width: 575px) {
    .promote_layer{
        width: 100%;
        padding: 15px 0;
    }

    .promotion_preview_modal{
        width: 100%;
    }
    .promotion_preview_modal_content{
        width:100%!important;
        top:10%;
    }
}

.promotion_preview_modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.promotion_preview_modal_content {
    /* margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px; */
    top: 20%;
    width: 540px;
    border: 0px;
    margin: auto auto auto auto;
    outline: none;
    position: relative;
    transform: translateY(-20%);
    box-shadow: 5px black;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

.promotion_preview_modal_container{

}

.w3-display-topright {
    user-select: none;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
    color: white;
    border-color: lightgray;
}

.promote_image:hover .promote_image_hover{
    background-color: rgba(0,0,0,0.4);
    background-image: url('../images/edit-48.png');
    background-size: 50px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    display: block;
    height: inherit;
}

.promote_image_hover{
    display: none;
}

.promotion_preview_image{
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    max-height: 60vh;
    min-height: 27vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2vh;
    justify-content: center;
}

.promotion_preview_image > img{
    width:100%;
}

.promotion_preview_title{
    margin: 0;
    margin-bottom: 0.35em;
    text-align: center;
    font-size: 1.5625rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    line-height: 1.235;
}

@media (min-width: 960px){
    .promotion_preview_title {
        font-size: 2.0243rem;
    }
}

@media (min-width: 600px){
    .promotion_preview_title {
        font-size: 1.8219rem;
    }
}

.promotion_preview_desc {
    font-size: 1.2rem;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
}

.preview_submit {
    width: 50%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: #221914;
    background: linear-gradient(to left, #fdd10e, #fbea56);
    padding: 6px 8px;
}

.preview_submit_span{
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.preview_cancel {
    width: 50%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: #ffffff;
    background: #221914;
    padding: 6px 8px;
    float: left;
}

.preview_cancel_span{
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
